header {
    display: flex;
    justify-content: space-between;  /* Space between name and navigation */
    align-items: center;  /* Aligns vertically */
    padding: 10px 20px;
    background-color: #f8f9fa;  /* Light background */
}

header h3 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;  /* Light background */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #332211;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #0056b3;
}
