
body {
    font-family: sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 0;
    padding-top: 70px;
}


header {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 20px;
    background-color: #DEE2E6;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header h3 {
    font-family: Papyrus, sans-serif;
    color: #212529;
    margin: 0;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: #212529;
    font-weight: bold;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #0056b3;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 80vh;
    text-align: left;
}


main h2 {
    font-size: 5rem;  
    font-weight: bold;
    color: #343A40;  
    margin-bottom: 10px;
}


main p {
    font-family: cursive;  
    font-size: 2.0rem;
    color: #6C757D;
}

about {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
    background-color: #ffffff;
}

.about-container {
    display: flex;
    align-items: center; 
    max-width: 750px;
    text-align: left;
}

.profile-image {
    width: 275px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    max-width: 450px;
}

.about-text h1 {
    font-size: 2rem;
    color: #212529;
    margin-bottom: 2px;
    margin-top: 30px;
    text-align: center; 
}

.about-text h3 {
    font-size: 1.2rem;
    color: #6C757D;
    font-weight: normal;
    text-align: center; 
}

.about-text p {
    font-family: Garamond;
    font-size: 1.0rem;
    color: #495057;
    line-height: 1.6;
}

contact h2 {
    font-size: 2rem;
    color: #343A40;
    margin-bottom: 10px;
}

contact p {
    font-size: 1.2rem;
    color: #6C757D;
    margin-bottom: 15px;
}


contact a {
    color: #0056b3;
    font-weight: bold;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #DEE2E6;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    color: #212529;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
}

.social-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
